/********set stely to all elements***************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*******************set style body*****************************************/
body {
  font-family: "Inter";
  font-style: normal;
  text-transform: capitalize;
}
/****************** set styles grouping In Body******************************/
body a {
  text-decoration: none;
}
/*****************************set style header&main-content********************************/
.main-content__items {
  display: flex;
  justify-content: space-around;
  gap: 35px;
}
.header__main-content__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}
.main-content__items h1 {
  width: 500px;
  font-weight: 700;
  font-size: 48px;
  color: #2b2b2b;
}
.main-content__items h1 span {
  color: #ffb400;
}
.main-content__items p {
  width: 528px;
  font-weight: 400;
  line-height: 24px;
}
.main-content__items a {
  border-radius: 5px;
  width: 23%;
  padding: 10px 7px;
  color: #2b2b2b;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}
.main-content__items a i {
  padding-left: 5px;
}
.main-content__main-banner {
  height: 390px;
  padding-top: 8px;
}
.main-content__main-banner img {
  height: 100%;
}

.images__backgrouds--chapes img {
  position: absolute;
}
.images__backgrouds--chapes img:first-child {
  top: 58%;
  left: 8%;
}
.images__backgrouds--chapes img:last-child {
  top: 5%;
  left: 3%;
}
.images__backgrouds--chapes img:nth-of-type(2) {
  top: 45%;
  left: 40%;
}
.images__backgrouds--chapes img:nth-of-type(3) {
  top: 8%;
  left: 55%;
}
.images__backgrouds--chapes img:nth-of-type(4) {
  top: 40%;
  left: 60%;
}
.images__backgrouds--chapes img:nth-of-type(5) {
  right: 4%;
  top: 60%;
}
.images__backgrouds--chapes img:nth-of-type(6) {
  top: 10%;
  right: 5%;
}
/***********************Grouping Styles in header******************************/
.main-content__items div p,
a {
  font-size: 1rem;
}
/*********************************End Grouping********************************/
/**********************************End Header*********************************/
/****************************========MEDI GUIRy =========================*******************/
/*************************************tablet************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-content__items {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .header__main-content__items {
    margin-top: 25px;
  }
  .header__main-content__items p {
    width: 357px;
    font-size: 1rem;
    margin-left: 20px;
  }
  .header__main-content__items h1 {
    font-size: 2.4rem;
    width: 400px;
    margin-left: 25px;
  }
  .main-content__main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-content__items a {
    width: 40%;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  .images__backgrouds--chapes img:nth-of-type(5) {
    position: absolute;
    top: 80%;
    right: 1px;
  }
  .images__backgrouds--chapes img:nth-of-type(1) {
    top: 80%;
  }

  .images__backgrouds--chapes img:nth-of-type(2) {
    top: 60%;
    right: 20%;
  }

  .images__backgrouds--chapes img:nth-of-type(4) {
    top: 60%;
    left: 55%;
  }
}
/*******************************smale&mobile**************************************/
/******************************** smale******************************************/
@media screen and (min-width:480px) and (max-width: 767px) {
  .main-content__items {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__main-content__items h1 {
    font-size: 2.5rem;
    width: 440px;
  }

  .header__main-content__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__main-content__items p {
    width: 440px;
    font-size: 1rem;
  }

  .main-content__items a {
    width: 40%;
    margin-bottom: 25px;
  }

  .main-content__main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .images__backgrouds--chapes img:nth-of-type(2),
  .images__backgrouds--chapes img:nth-of-type(3),
  .images__backgrouds--chapes img:nth-last-of-type(4) {
    display: none;
  }
}

/***************Set Style To Section Services& Section portfolio***********************/
.container-myservices,
.contaner-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  padding: 25px 0px;
  margin: 25px 0px;
}
.container-myservices h2,
.container-portfolio h3 {
  font-weight: 700;
  font-size: 30px;
  color: #2b2b2b;
}
.container-myservices p,
.contaner-portfolio p {
  width: 438px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
/****************************end grouping*************************************************/
/***********************Set Style To Section Three& box about services ********************************/
.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 10px;
  text-align: center;
}
.lightbox__items,
.lightbox__items__advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  height: 225px;
  width: 25%;
}

.lightbox__items p:nth-of-type(1) {
  font-weight: 440;
  font-size: 0.9rem;
  line-height: 24px;
  width: 260px;
}
.lightbox__items__advertising p {
  font-size: 0.9rem;
  font-weight: 400;
  width: 260px;
}

.lightbox__items h3:nth-of-type(1),
.lightbox__items__advertising h3:nth-of-type(1) {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2b2b;
}
.lightbox__items__advertising a:last-child {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffb400;
  height: 14px;
}

/*******************************media quiery********************************/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-myservices p {
    width: 25rem;
    text-align: center;
  }
  .lightbox__items {
    width: 39%;
  }

  .lightbox__items__advertising a img:nth-of-type(1) {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .lightbox__items {
    width: 95%;
    display: flex;
    margin-left: 2px;
  }
  .lightbox__items__advertising a img:nth-of-type(1) {
    padding-left: 20px;
  }
}

/*************************start style card images ********************/

.card__images__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card__images__container img {
  width: 100%;
}
.image__card {
  width: 25%;
}
.image--hidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  background-color: #ffb300e2;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.img--position:hover .image--hidden {
  display: flex;
  cursor: pointer;
}
.img--position {
  position: relative;
}

.card__images__container {
  margin-bottom: 30px;
}

/******************========================****************************=/
/*************************media quiery*******************************************/

@media screen and (max-width: 767px) {
  .contaner-portfolio p,
  .container-myservices p {
    width: 25rem;
    text-align: center;
  }
  .image__card {
    width: 48%;
  }
  .card__images__container {
    justify-content: flex-start;
    margin-left: 15px;
    gap: 10px;
  }
}

/************Before Footer&Contact&Informations*************************/
/********************************form&contact*********************************/
.form-contact__container {
  display: flex;
  gap: 33px;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  width: 80%;
  
}

.form-contact__container h3:nth-of-type(1) {
  color: #2b2b2b;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 20px;
}

.form__content-item--flex h3 {
  margin-left: 30px;
 
}

.form-contact__container .input-group__label {
  padding-top: 24px;
  font-weight: 500;
  font-size: 18px;
}

input:enabled {
  border: 0;
  outline: 0;
  width: 521px;
  height: 50px;
}

.input-group--background-white {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 580px;
  padding: 20px 30px;
  /* margin-left: 40px; */
}
form input:last-of-type {
  width: 139px;
  height: 35px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: #2b2b2b;
  margin: 15px 0px;
}
.form-contact__container textarea {
  width: 521px;
  outline: 0;
  border: 0;
  resize: none;
}

/************************************contact style*****************************************/
.contact-container span:first-of-type {
  font-weight: 400;
  font-size: 15px;
}
.contact-container__items {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}
.contact-container__items__card--white {
  justify-content: space-evenly;
  position: relative;
  width: 380px;
  height: 210px;
}
.card-items-img {
  align-self: center;
  z-index: 1;
  padding-top: 6px;
}
.card-items--warning {
  width: 8%;
  height: 30px;
  position: absolute;
  align-self: center;
  border-radius: 30px;
  top: 10%;
}
.card-items--space > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}
/********************************media quiery tablet 768*****************************************/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form-contact__container {
    flex-wrap: wrap;
    padding-left: 0px;
    margin-left: 0px;
  }
  .input-group--background-white {
    width: 600px;
    margin-left: 0px;
    padding-left: 10px 0px;
  }

  .form-contact__container label,
  .form-contact__container textarea,
  input:enabled {
    width: 560px;
  }
  .contact-container__items__card--white {
    width: 350px;
    margin-left: 20px;
  }
  .contact-container h3 {
    margin-left: 40px;
  }
  .contact-container__items {
    justify-content: flex-start;
    gap: 5px;
  }
}

/*******************************mobile 480px*************************************/
@media screen and (max-width: 767px) {
  .form-contact__container {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
    padding-left: 0px;
  }

  .form-contact__container label,
  .form-contact__container textarea,
  input:enabled {
    width: 400px;
  }

  form input:last-of-type {
    width: 400px;
    text-align: center;
  }

  .input-group--background-white {
    width: 450px;
    margin-left: 0px;
    padding-left: 20px 0px;
  }

  .contact-container__items__card--white {
    width: 447px;
    margin-left: 15px;
  }
  .card-items--warning {
    border-radius: 50px;
    width: 7%;
  }
}

/***************************set Style Footer************************/
/**************************grouping********************************/

.footer__copyright--state-center {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  display: flex;
}

.footer__logo--state-center {
  display: flex;
  justify-content: space-around;
}
.footer {
  margin-top: 30px;
  gap: 25px;
}
/*******************************************************************/
.footer__copyright--state-center {
  height: 60px;
  width: 100%;
  margin-top: 30px;
}

/*==*********Footer media quiery mobile (480px )only I wanted  =====*******/
@media screen and (max-width: 767px) {
  .footer__logo--state-center {
    flex-wrap: wrap;
  }
  .footer__logo--state-center div {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}
/**************************grouping styles element in body ********************************/
.footer__copyright--state-center,
.contact-container__items__card--white,
.lightbox__items,
.lightbox__items__advertising {
  display: flex;
  flex-direction: column;
}
.image__hover--warning,
.main-content__items {
  position: relative;
}
.card-items--warning,
form input:last-of-type,
.main-content__items a {
  background-color: #ffb400;
}
.input-group--background-white,
.contact-container__items__card--white,
.footer__copyright--state-center,
.main-content__items,
.lightbox__items,
.lightbox__items__advertising {
  background-color: #ffffff;
}
.form-contact__container textarea,
.input-group__input,body {
  background-color: #f0f0f6;
}
.contact-container span:first-of-type,
.contact-container__items__card--white,
.contact-container__items__card--white a,
.main-content__items div p,
.form-contact__container .input-group__label,
.lightbox__items p:nth-of-type(1),
.lightbox__items__advertising p,
.container-myservices p,
.contaner-portfolio p {
  color: #767676;
}

/**************************grouping to section services & section portfolio*****************************/
.container-myservices h2,
.container-myservices p,
.contaner-portfolio h3,
.container-portfolio p {
  text-align: center;
}
